*{
    margin: 0%;
}
.body{
    height:100vh;
    width: 100%;
    border: 1px solid black;
    background-image: linear-gradient( 179.3deg,  rgba(233,10,130,1) -0.1%, rgba(12,21,139,1) 96.7% );
    
}

.header{
    width: 85%;
    height: 15%;
    border: 1px solid gold;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px; 
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}

.main{
    height: 400px;
    width: 100%;
    border: 1px solid white;
    display: flex;
    margin-bottom: 10px;
   
}